# Database Config
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=college_event_mgmt

# Auth Config
JWT_SECRET=your_jwt_secret_here

# Khalti Config (Sandbox)
KHALTI_SECRET_KEY=your_khalti_secret_key
KHALTI_PUBLIC_KEY=your_khalti_public_key
KHALTI_INITIATE_URL=https://a.khalti.com/api/v2/epayment/initiate/
KHALTI_LOOKUP_URL=https://a.khalti.com/api/v2/epayment/lookup/

# eSewa Config (Sandbox)
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8g7h91ayb21498plus
ESEWA_INITIATE_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://uat.esewa.com.np/api/epay/main/v2/verify

# Application Config
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
